# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import api_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
#specify path
path = "../WeatherPy/output_data/cities.csv"
#import csv file from part 1
city_df = pd.read_csv(path)

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
# Access maps with unique API key
gmaps.configure(api_key=api_key)

In [6]:
#store lat and lng into locations
locations = city_df[['Lat','Lng']].astype(float)
#convert humidity to float
humidity = city_df['Humidity'].astype(float)

#heatmap
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
city_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,khatanga,71.9667,102.5000,32.76,98,100,19.98,RU,1619220976
1,garowe,8.4054,48.4845,77.23,73,65,9.57,SO,1619220976
2,bredasdorp,-34.5322,20.0403,50.00,93,92,4.61,ZA,1619221196
3,esperance,-33.8667,121.9000,55.40,88,98,9.22,AU,1619220977
4,yellowknife,62.4560,-114.3525,17.01,57,75,10.36,CA,1619221313

In [12]:
#drop null values (shouldn't be any)
reduced_df = city_df.dropna(axis=0, how='all')
#subset to weather conditions
##max temp lower than 80
##max temp greater than 70
##wind speed less than 10
##zero cloudiness
reduced_df = reduced_df[(reduced_df['Max Temp']<80) & (reduced_df['Max Temp']>70) & (reduced_df['Wind Speed']<10) & (reduced_df['Cloudiness']==0)]    
reduced_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
454,santa cruz cabralia,-16.2781,-39.0247,78.8,69,0,6.91,BR,1619221082
459,haimen,23.1935,116.6142,73.4,73,0,4.47,CN,1619221085
472,najran,17.4924,44.1277,71.6,24,0,2.68,SA,1619221088
496,sakakah,29.9697,40.2064,77.0,13,0,9.22,SA,1619221094

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure